body {
    font-family: 'Lato', sans-serif;
    background: #e9e8e8;
    color: black;
    font-weight: bold;
}

.container {
    margin: 2%;
}

.row {
    width: 100%;
    display: inline-block;
}

h2 {
    padding: 14px 0px 7px;
}


/* ************************************INPUT ROW********************************* */

.airlineButton {
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.4);
    border-radius: 4px;
    margin: 2% 0;
    position: relative;
    z-index:2;
}

ul {
    width: 100%;
    text-align: center;
    /* center navigation bar */
    padding-left: 0px;
    list-style: none;
    color: white;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    margin: 0;
}

li {
    display: inline-block;
    width: 49%;
    padding: 15px 0px;
    font-family: 'Amaranth', sans-serif;
}

.blueSelector {
    height: 50px;
    width: 50%;
    background: linear-gradient(rgb(72,223,253),rgba(50,156,177)) no-repeat;
    border-radius: 4px;
    position: absolute;
    top: 0;
    z-index: 5;
}

/* TEXTBOX STYLING */

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

.textboxLarge {
    width: 99%;
    height: 50px;
    border-radius: 4px;
    background: white;
    font-family: 'Amaranth', sans-serif;
    text-align: center;
}

.notesTextbox {
    margin: 1rem 0 0;
    max-width: 99%;
    min-width: 99%;
    word-wrap: auto;
    height: 100px;
    overflow: hidden;
    border-radius: 4px;
    background: white;
    font-family: 'Amaranth', sans-serif;
}

.dateInput {
    width: 100%;
}

.innerDateInput {
    width: 50%;
    float: left;
}

.input {
    height: 50px;
    width: 100%;
    border-radius: 4px;
    background: white;
    font-family: 'Amaranth', sans-serif;
    float: left;
    text-align: center;
}

/* Bottom Row Styling */

.bottomInput {
    width: 99%;
    clear: both;
}

.personsAmountInput {
    width: 33.3%;
    float: left;
}

#searchAirline {
    width: 100%;
    height: 35px;
    background: linear-gradient(rgb(72,223,253),rgba(50,156,177)) no-repeat;
    border-radius: 4px;
    padding-top: 15px;
    margin-top: 2%;
    text-align: center;
    color: white;
    cursor: pointer;
    clear: both;
}

#searchAirline:active {
    background: linear-gradient(to top, rgb(72,223,253),rgba(50,156,177)) no-repeat;
}


/* ************************************FLIGHTS ROW********************************* */

.title {
    width: 100%;
    padding: 14px 0px 7px;
    font-weight: bold;
    font-size: 20px;
}

.price {
    font-weight: inherit;
    color: white;
    padding-left: 2%;
}

.inboundContainer,
.outboundContainer {
    width: 100%;
    margin: 1rem 0 0;
}

.overallInboundContainer,
.overallOutboundContainer {
    width: 100%;
    height: 250px;
    background: rgba(0,0,0,0.4);
    border-radius: 4px;
    position: relative;    
}

.inboundLabel,
.outboundLabel {
    width: 98%;
    height: 1.2rem;
    padding: 1%;
    position: absolute;
    text-align: center;
}

.dateTimeContainer {
    width: 48%;
    padding: 1%;
    position: absolute;
    left: 0px;
    top: 1.2rem;
}

.stopsContainer {
    width: 48%;
    padding: 1%;
    position: absolute;
    left: 50%;
    top: 1.2rem;
}

.outbound,
.inbound {
    color: white;
    font-weight: bold;
}

.flightInput {
    color: white;
    font-size: 14px;
}

@media only screen and (min-width: 850px) {
    .airlineButton,
    .airlineTextboxLarge,
    .bottomInput,
    .outboundContainer,
    .inboundContainer {
        width: 49%;
        margin-right: 1%;
        float: left;
        clear: none;
    }

    .bottomInput {
        margin-bottom: 1%;
    }

    #searchAirline {
        width: 99%;
    }

}