/* Global Styles */

html {
    background: #dfdfdf;
}

body {
    font-family: 'Lato', sans-serif;
    background: #dfdfdf;
    color: black;
    font-weight: bold;
}

.container {
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #dfdfdf;
}

.wrapper {
    margin: 0;
    padding: 1em;
    display: inline-block;
    background: #dfdfdf;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    display: inline-flex;
    width: 20rem;
    height: 21rem;
}

.row {
    width: 100%;
    display: inline-block;
}

h2 {
    padding: 0px 0px 7px;
}

/* main header style  */

.main_h {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 766px) {
    .main_h {
        padding-top: 25px;
    }
}

.open-nav {
    max-height: 400px !important;
}

.open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
}

.logo {
    width: 50px;
    font-size: 25px;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0;
    padding-top: 1rem;
    line-height: 1;
    margin-bottom: 10px;
}

.logo:hover {
    text-decoration: none;
}

@media only screen and (max-width: 766px) {
    .logo {
        float: none;
    }
}

nav {
    float: right;
    width: 60%;
}

@media only screen and (max-width: 766px) {
    nav {
        width: 100%;
    }
}

nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
}

@media only screen and (max-width: 766px) {
    nav ul {
        padding-top: 10px;
        margin-bottom: 22px;
        float: left;
        text-align: center;
        width: 100%;
    }
}

nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
}

@media only screen and (max-width: 766px) {
    nav ul li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
    }
}

nav ul a {
    color: #888888;
    text-transform: uppercase;
    font-size: 12px;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

@media only screen and (max-width: 766px) {
    .mobile-toggle {
        display: block;
    }
}

.mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
}

.row-nav {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

body {
    color: #8f8f8f;
    background: white;
    font-family: "Cardo", serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

/* ************************************INPUT ROW********************************* */

.airlineButton {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    margin: 2% 0;
    position: relative;
    z-index: 2;
}

.buttonElement {
    width: 100%;
    text-align: center;
    /* center navigation bar */
    padding-left: 0px;
    list-style: none;
    color: white;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    margin: 0;
}

.topbtn {
    display: inline-block;
    width: 49%;
    padding: 15px 0px;
    font-family: 'Amaranth', sans-serif;
}

.blueSelector {
    height: 50px;
    width: 50%;
    background: linear-gradient(rgb(72, 223, 253), rgba(50, 156, 177)) no-repeat;
    border-radius: 4px;
    position: absolute;
    top: 0;
    z-index: 5;
}

/* TEXTBOX STYLING */

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

.textboxLarge {
    width: 99%;
    height: 50px;
    border-radius: 4px;
    background: white;
    font-family: 'Amaranth', sans-serif;
    text-align: center;
}

.notesTextbox {
    margin: 1rem 0 0;
    max-width: 99%;
    min-width: 99%;
    word-wrap: auto;
    height: 100px;
    overflow: hidden;
    border-radius: 4px;
    background: white;
    font-family: 'Amaranth', sans-serif;
}

.dateInput {
    width: 100%;
}

.innerDateInput {
    width: 50%;
    float: left;
}

.input {
    height: 50px;
    width: 100%;
    border-radius: 4px;
    background: white;
    font-family: 'Amaranth', sans-serif;
    float: left;
    text-align: center;
}

/* Bottom Row Styling */

.bottomInput {
    width: 99%;
    clear: both;
}

.personsAmountInput {
    width: 33.3%;
    float: left;
}

#searchAirline {
    width: 100%;
    height: 35px;
    background: linear-gradient(rgb(72, 223, 253), rgba(50, 156, 177)) no-repeat;
    border-radius: 4px;
    padding-top: 15px;
    margin-top: 2%;
    text-align: center;
    color: white;
    cursor: pointer;
    clear: both;
}

#searchAirline:active {
    background: linear-gradient(to top, rgb(72, 223, 253), rgba(50, 156, 177)) no-repeat;
}

/* ************************************FLIGHTS ROW********************************* */

.title {
    width: 100%;
    padding: 14px 0px 7px;
    font-weight: bold;
    font-size: 20px;
}

.price {
    font-weight: inherit;
    color: black;
    padding-left: 2%;
}

.inboundContainer,
.outboundContainer {
    width: 100%;
    margin: 1rem 0 0;
}

.overallInboundContainer,
.overallOutboundContainer {
    width: 100%;
    height: 250px;
    border: 3px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    position: relative;
}

.inboundLabel,
.outboundLabel {
    width: 98%;
    height: 1.2rem;
    padding: 1%;
    position: absolute;
    text-align: center;
}

.dateTimeContainer {
    width: 48%;
    padding: 1%;
    position: absolute;
    left: 0px;
    top: 1.2rem;
}

.stopsContainer {
    width: 48%;
    padding: 1%;
    position: absolute;
    left: 50%;
    top: 1.2rem;
}

.outbound,
.inbound {
    color: black;
    font-weight: bold;
}

.flightInput {
    color: black;
    font-size: 14px;
}

#inboundTime {
    top: -1px;
}

@media only screen and (min-width: 850px) {
    .airlineButton,
    .airlineTextboxLarge,
    .bottomInput,
    .outboundContainer,
    .inboundContainer {
        width: 49%;
        margin-right: 1%;
        float: left;
        clear: none;
    }
    .bottomInput {
        margin-bottom: 1%;
    }
    #searchAirline {
        width: 99%;
    }
}