/* font-family */

.button,
.form-lable,
.formInput {
    font-family: 'Amaranth', sans-serif;
    color: white;
}

body {
    padding: auto;
    background: url(../images/architecture-bay-blonde-196667.jpg);
    background-size: 1100px;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    margin: 2% 1% 5%;
}

/* form textbox style */
.formInput {
    background: rgba(0,0,0,0.2); 
    text-align: center;
}

/* login or sign up button style */

.button {
    width: 100%;
    padding: 7% 0;
    margin-top: 1em;
    font-size: 1.5rem;
    color: white;
    border-radius: 5rem;
    border: 0.2em solid white;
    background: rgba(0, 0, 0, 0)
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.button:active {
    background: rgba(0, 0, 0, 0.19);
}

/* form styles */

input {
    width: 86%;
    margin: 3% auto;
    line-height: 1%;
    padding: 4%;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.form {
    display: inline-block;
    text-align: center;
    width: 100%;
}

/* form labels  */

.form-lable {
    font-size: 2rem;
}

/* header style */

header img {
    width: 48%;
    display: inline-block;
    margin: 25%;
    margin-bottom: 10%;
    margin-top: 12%;
}

@media only screen and (min-width: 600px) {

    .container {
        display: inline-block;
        height: 65%;
        width: 600px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: absolute;
        left: 50%;
        transform: translate(-50%)
    }

    .form-lable,
    .formInput {
    color: black;
    }

    .button {
        color: white;
        border: 0.2em solid white;
    }

    header {
        float: right;
        width: 50%;
    }

    .form {
        width: 50%;
    }
}


@media only screen and (min-width: 1100px) {
    body {
        background-size: 100%;
    }

}
